<html lang="en">
<head><title>Add a Trip</title></head>
<body>

<form method="get" action="/">
    <button>Home Page</button>
</form>

<h1>Add a new trip</h1>

<form method="POST">
        <input type="text" placeholder="enter title" name="title"/>
        <input type="text" placeholder="enter destination" name="destination"/>
        <input type="date" placeholder="date of departure" name="dateDeparted"/>
        <input type="date" placeholder="date of return" name="dateReturned"/>
    <button>Add Trip</button>
</form>
</body>
</html>