<html lang="en">
<head><title>Display Trip</title></head>
<body>

<form method="get" action="/index">
    <button>Home Page</button>
</form>

<h1>Your trip</h1>

<ul>
        <li>{{title}}</li>
        <li>{{destination}}</li>
        <li>{{dateDeparted}}</li>
        <li>{{dateReturned}}</li>
        <br>
</ul>

</body>
</html>