<html lang="en">
<head><title>Trip Tracker</title></head>
<body>
<form method="GET" action="/display-trips">
    <button>Display Trips</button>
</form>

<form method="GET" action="/search-trips">
    <button>Search for a Trip</button>
</form>

<form method="GET" action="/add-trips">
    <button>Add a Trip</button>
</form>

<form method="GET" action="/update-trips">
    <button>Update a Trip</button>
</form>

<form method="GET" action="/delete-trips">
    <button>Delete a Trip</button>
</form>

</body>
</html>