<html lang="en">
<head><title>Search for a Trip by Dest City</title></head>
<body>

<form method="get" action="/index">
    <button>Home Page</button>
</form>

<h1>Search for a trip by destination city</h1>

<form method="POST" action="/search-trips">
    <input type="text" placeholder="enter name of destination city" name="destination"/>
    <button>Search</button>
</form>
</body>
</html>